.img-remsata{
margin-top: 40px;
}

a.btn-left{
  width:70px;
  margin-left: 100px;
}

a.btn-right{
  width: 70px;
  margin-right: 80px;

}

.social-icon1{
   height: 40px;
   width: 40px;
}

.social-icon2{
   height: 40px;
   width: 40px;

}
